body {
  background-color: #343a40;
  color: #fff;
  padding: 50px;
}

.container {
  background-color: #212529;
  /* padding: 30px; */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 40px;
  padding-bottom: 40px;
}

h2,
h3,
p {
  margin-bottom: 20px;
}

ul {
  margin-bottom: 20px;
}
p {
  line-height: 1.6;
  color: #fff;
}

nav {
  background-color: #343a40;
  padding: 15px 0;
  text-align: center;
}

.navbar-nav a {
  margin-right: 15px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 16px;
}

nav a:hover {
  background-color: #555;
  border-radius: 5px;
}

nav {
  z-index: 1000; /* Set a high z-index to ensure the navigation bar is on top */
}

@media (max-width: 768px) {
  .navbar-nav {
    margin-top: 10px;
  }
}
